#
# PMI WhiteList based on the j2eetype with the following rules:
# - If no values are defined for a j2eetype all values will be added to the output.
# - If a j2eetype is not in the config no values will be added to the output.
# - Of a j2eetype is defined in the file and specific values are conigured onlye these values will be added
#
##### [ARD requests]
#####
##### [client]
#####
##### [DCS Statistics]
#####
##### [Durable Subscriptions]
#####
##### [Garbage Collection]
#####
[HAManager]

##### [Interceptors]
#####
##### [JCA Connection Pools]

[JDBC Connection Pools]
CreateCount.count=true
CloseCount.count=true
PoolSize.value=true

[JVM Runtime]
FreeMemory.count=true
UsedMemory.count=true
ProcessCpuUsage.count=true
HeapSize.value=true

##### [MessageStoreStats]
#####
##### [Monitor]
#####
##### [Object]
#####
##### [Object Pool]
#####
##### [ORB]
#####
##### [Queues]
#####
##### [Schedulers]
#####
##### [server]
#####
##### [Servlet Session Manager]
#####
##### [SipContainerModule]
#####
##### [StatGroup]
#####
##### [System Data]
#####
##### [Thread]
#####
##### [Thread_Pool]

[Thread Pools]
CreateCount.count=true
DestroyCount.count=true
ConcurrentHungThreadCount.value=true
ActiveCount.value=true
PoolSize.value=true

##### [Topicspaces]
#####
##### [Transaction Manager]
#####
##### [Web Applications]
#####
##### [Web services]
#####
##### [Web services Gateway]
#####
##### [xdProcessModule]
#####
